.homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
	.search-box {
		width: 100%;
		max-width: 300px;
	}
	input {
		width: 100%;
		background: transparent;
		border: 2px solid #1e3799;
		border-radius: 5px;
		padding: 10px;
	}

	a {
		margin-top: 10px;
		text-decoration: none;
		padding: 10px;
		background: #78e08f;
		color: white;
		border-radius: 5px;
		font-size: 1rem;
	}
}
